@font-face {
  font-family: pSansB;
  src: url(./Fonts//ProductSans-Bold.ttf);
}
@font-face {
  font-family: pSansL;
  src: url(./Fonts/ProductSans-Light.ttf);
}
@font-face {
  font-family: pSansM;
  src: url(./Fonts/ProductSans-Medium.ttf);
}
@font-face {
  font-family: pSansR;
  src: url(./Fonts/ProductSans-Regular.ttf);
}
body {
  margin: 0px;
}
